/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif ;
}

/* general */

.container {
    width: 70%;
    margin: 0 auto; 
}

.button {
    border-radius: 40px;
    text-decoration: none;
}




/* header con logo e menu */

header {
    background-color: #3161e0;
    width: 100%;
    height: 80px;
    line-height: 80px;    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.box-logo {
    /* width: 20%; */
    float: left;
}

.logo {
    vertical-align: middle;
}

.box-menu-p1 {
    width: calc( 100% - 235px);
    float: left;
    text-align: center;
    display: inline-block;
}

.box-menu-p1 li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.box-menu-p1 a {
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    background-color: 000;
    color: rgb(0, 0, 0);
}

.box-accedi {
    float: left;
}

.box-accedi .button {
    background-color: white;
    color: black;
    padding: 10px 20px;
}




/* area centrale con foto e info */

/* prima sezione con foto e info */

.hero {
    width: 100%;
    height: 60vh;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
    position: relative;
    display: block;
}

.testo-centrale {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    text-align: center;
}

.testo-centrale h2 {
    color: white;
    display: inline-block;
    font-size: 56px;
    padding-bottom: 30px;
}

.testo-centrale p {
    color: white;
    display: inline-block;
    font-size: 25px;
    padding-bottom: 30px;
}

.testo-centrale .scarica-white {
    background-color: white;
    color: black;
    margin-right: 10px;
    padding: 15px 30px;
}

.testo-centrale .apri-grey {
    background-color: #23272a;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    padding: 15px 30px;
}





/* sezione 1 con foto flottata */

.fotofloat-1 {
    width: 100%;
    height: 90vh;
    background-color: rgb(255, 255, 255);
}

.fotofloat-1 img {
    width: 65%;
    margin-top: 150px;
    float: left;
}

.testo-laterale {
    width: 35%;
    margin-top: 190px;
    float: left;
}

.testo-laterale h2 {
    color: black;
    display: inline-block;
    font-size: 56px;
    padding-bottom: 30px;
}

.testo-laterale p {
    color: black;
    display: inline-block;
    font-size: 25px;
    padding-bottom: 30px;
}





/* sezione 1 con foto flottata */

.fotofloat-2 {
    width: 100%;
    height: 90vh;
    background-color: rgb(175, 175, 175);
}

.fotofloat-2 img {
    width: 65%;
    margin-top: 130px;
    float: right;
}

.testo-laterale {
    width: 35%;
    margin-top: 170px;
    float: right;
}

.testo-laterale h2 {
    color: black;
    display: inline-block;
    font-size: 56px;
    padding-bottom: 30px;
}

.testo-laterale p {
    color: black;
    display: inline-block;
    font-size: 25px;
    padding-bottom: 30px;
}



















.fullview {
    width: 100%;
    height: 90vh;
    background-color: rgb(000, 126, 255);
}

footer {
    width: 100%;
    height: 500px;
    background-color: #23272a;
}
